<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mappers.OrderMapper">
    <resultMap id="orderMap" type="com.study.model.Order">
        <result column="o_id" jdbcType="INTEGER" property="id" />
        <result column="o_time" jdbcType="TIMESTAMP" property="orderTime" />
        <collection property="orderItemList" column="{userId=u_id,orderId=o_id}" select="selectOrders"/>
    </resultMap>
    <resultMap id="orderItemMap" type="com.study.model.OrderItem">
        <result column="o_index" jdbcType="VARCHAR" property="index" />
        <result column="g_num" jdbcType="INTEGER" property="goodsNum" />
        <result column="o_status" jdbcType="INTEGER" property="orderStatusEnum" typeHandler="com.study.handlers.OrderStatusEnumHandler" />
        <association column="g_id" property="goods" select="com.study.mappers.GoodsMapper.selectByGoodsId"/>
    </resultMap>
    <select id="getOrderListByUserId" resultMap="orderMap" parameterType="INTEGER">
        SELECT * FROM  order_list
        WHERE u_id = #{userId}
    </select>
    <select id="selectOrders" resultMap="orderItemMap">
        SELECT *
        FROM orders
        WHERE u_id = #{userId} AND o_id = #{orderId}
    </select>
    <delete id="deleteMarkByPrimaryKey">
        DELETE FROM mark
        WHERE u_id = #{userId,jdbcType=INTEGER} AND g_id = #{goodsId,jdbcType=INTEGER}
    </delete>
    <insert id="saveUserMark">
        INSERT INTO mark VALUES (#{userId}, #{goodsId})
    </insert>
</mapper>
